Source: drc
Section: devel
Priority: optional
Maintainer: Guillermo Gutierrez <xiterrex@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), fp-compiler
Standards-Version: 4.6.2
Homepage: https://github.com/Utodev/DRC
Vcs-Browser: https://github.com/terrex/DRC
Vcs-Git: https://github.com/terrex/DRC.git

Package: drc
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 php-cli
Description: DAAD Reborn Compiler (DRC) is a replacement of DAAD compiler (DC)
 It also included a modern replacement of MCRF for Amstrad CPC, and DAADMAKER,
 a tool to build DAAD tapes and disks for ZX Spectrum.
 .
 Please find usage and build instructions, download links in the DRC Wiki:
 https://github.com/daad-adventure-writer/DRC/wiki
 .
 Download at http://www.ngpaws.com/downloads/DAAD/DRC/
